.button-container {
    width: 1000px;
    /*background: gray;*/
    overflow-y: auto;
}

.button   {
    width: 100px;
    height: 100px;
    float: left;
    /*//background: lightgrey;*/   
    margin: 5px;
}
#b1:hover {
    background-color: #4CAF50;
    }
#start{
    
    position: absolute;
    top: 20%;
    left: 20%;
    width: 15%;
    border-radius: 12px;
    font-size: 24px;
    background-color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;



}
h1{
    font-size:18px;
}
h1 span { font-size:18px; 
}

#countdown_box {
    position:absolute;
    top:32%;
    left:32%;
    width:300px;
    border:3px solid blue;
    padding:70px;

    overflow: hidden;
    text-overflow: ellipsis;
    }
    #countdown_title {
    font-family: tahoma;
    font-weight: bold;
    colour: blue;
    font-size: 18px;
    }
    #countdown_div {
    font-family: tahoma;
    font-weight: bold;
    font-size: 56px;
    }

    
